.git/
node_modules/
config/development/
*.log
.env

Dockerfile
docker-compose.yml
docker-compose.override.yml

.vscode/
.idea/
.settings/
.classpath
.project
.factorypath

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
debug.log
yarn.lock

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
