# Docker files
Dockerfile*
docker-compose*

# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env
.env.local

# Logs
logs/
*.log
debug.log

# Build output
dist/
build/
.cache/

# Temporary files
tmp/
*.tmp
*.swp

# Git and version control
.git/
.gitignore
.gitattributes

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.vscode/
.idea/
*.iml
.settings/

# Test files
coverage/
*.spec.js
*.test.js
__tests__/
jest/

# Editor settings
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.bak
*.sw?
*.pid
.vercel
